{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "node": "current"
            },
            "useBuiltIns": "usage",
            "corejs": 3,
            "modules": "commonjs",
            "loose": true
        }]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-private-methods",
        "@babel/plugin-proposal-private-property-in-object",
        "@babel/plugin-transform-runtime"
    ],
    "env": {
        "test": {
            "plugins": ["@babel/plugin-transform-modules-commonjs"]
        },
        "development": {
            "plugins": ["@babel/plugin-transform-modules-commonjs"]
        },
        "production": {
            "plugins": [
                ["@babel/plugin-transform-modules-commonjs", {
                    "strictMode": true
                }]
            ]
        }
    }
} 